:root {
  --primary-color: #2154a5;
  --secondary-color: #cb9bba;
  --neutral-color: #e3e3e3;
  --box-shadow: 4px 4px 8px black;
  --heading-font-family: "Kaushan Script", cursive;
  --secondary-font-family: "Nunito", sans-serif;
}

#brand {
  padding: 0 6px;
  border: 4px solid black;
  font-family: var(--heading-font-family);
  font-size: 30px;
}

body {
  background: var(--neutral-color);
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/images/backgroundcoffee.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 150px 0;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

.hero-content {
  text-align: center;
  color: ghostwhite;
  text-shadow: 0 0 10px var(--primary-color), 0 0 10px var(--primary-color),
    0 0 10px var(--primary-color), 0 0 10px var(--primary-color),
    0 0 10px var(--primary-color);
}

h1 {
  font-size: 96px;
  text-align: center;
  line-height: 1.2;
}

h2 {
  font-size: 48px;
  text-align: center;
}

h3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.2;
}
h4 {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
  color: var(--primary-color);
  text-align: center;
}

h5 {
  font-size: 35px;
}

p {
  font-size: 26px;
  font-family: var(--secondary-font-family);
}
a {
  font-family: var(--secondary-font-family);
}

.home-icon {
  color: var(--primary-color);
  text-shadow: 0 0 3px ghostwhite, 0 0 3px ghostwhite, 0 0 3px ghostwhite,
    0 0 3px ghostwhite;
}

#arrow-down {
  text-align: center;
  font-size: 70px;
  position: relative;
  top: 90px;
}

#arrow-down:hover {
  font-size: 80px;
}

#latest-projects {
  margin: 0 100px;
  background: var(--primary-color);
  color: ghostwhite;
  border: 4px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}

.app-paragraph {
  font-size: 20px;
  line-height: 1.5;
}

.home-img {
  border: 3px solid var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  background: var(--secondary-color);
}

.home-img:hover {
  box-shadow: none;
  padding: 10px;
}

.home-body {
  color: var(--primary-color);
}

.top-nav-links {
  display: flex;
  justify-content: center;
}

.contact-link,
.about-link {
  margin: 20px;
  color: ghostwhite;
  background: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 15px 25px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  font-weight: bold;
}
.contact-link:hover,
.about-link:hover {
  margin: 20px;
  color: ghostwhite;
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
}

.my-projects-link,
.artwork-link {
  color: white;
  background: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 15px 25px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.my-projects-link:hover,
.artwork-link:hover {
  color: var(--primary-color);
  background: var(--neutral-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
}

.title-spacing {
  margin: 50px auto 0 auto;
  padding: 30px;
}

.title {
  background: var(--primary-color);
  color: ghostwhite;
  border: 5px solid var(--secondary-color);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}
.jae {
  border: 5px ridge var(--secondary-color);
  border-radius: 20px;
  padding: 3px;
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
}

.about-p {
  font-size: 20px;
  line-height: 1.5;
  padding: 0 20px;
  font-weight: 300;
}

strong {
  color: var(--primary-color);
  font-weight: 400;
}

.regular-link {
  color: ghostwhite;
  font-weight: bolder;
  background: var(--secondary-color);
  border: 3px solid var(--primary-color);
  padding: 5px 10px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  font-size: 18px;
}

.about-h2 {
  background: var(--primary-color);
  color: ghostwhite;
  border: 4px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}

ul {
  list-style: none;
  padding-left: 0;
  font-size: 20px;
  font-family: var(--secondary-font-family);
}

.about-icon {
  color: var(--secondary-color);
  font-size: 28px;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

.main-h3 {
  color: var(--primary-color);
}
.work-img {
  border: 3px solid var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  padding: 8px;
  background: var(--secondary-color);
}

.work-img:hover {
  box-shadow: none;
  padding: 2px;
}

.work-p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
}
.work-slider {
  max-width: 60%;
}

.img-slider img {
  padding: 35px;
  background: var(--secondary-color);
  border: 10px ridge var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.contact-heading {
  margin: 100px 10px;
  font-size: 70px;
  color: var(--primary-color);
}
.contact-content div {
  margin: 0 20px;
}
.contact-content h2 {
  font-size: 60px;
}
.contact-icon {
  color: var(--primary-color);
}
.contact-content a {
  text-decoration: none;
  font-size: 28px;
}

@media (max-width: 576px) {
  #brand {
    font-size: 20px;
  }

  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }

  .home-body {
    text-align: center;
  }
  #arrow-down {
    position: relative;
    top: 80px;
    font-size: 50px;
  }
  #latest-projects {
    margin: 0 10px;
  }

  .weather-col,
  .hazel-img-col {
    margin-top: 40px;
  }

  .my-projects-link,
  .artwork-link {
    display: block;
  }

  .work-slider {
    max-width: 80%;
  }

  h5 {
    font-size: 24px;
  }
  .regular-link {
    margin-right: 20px;
  }
  .contact-heading {
    font-size: 50px;
  }
  .contact-content h2 {
    font-size: 40px;
  }
}

@media (min-width: 900px) {
  #latest-projects {
    margin: 0 200px;
  }
}
